[submodule "pack/danirod/start/ack.vim"]
	path = pack/danirod/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "pack/danirod/start/ctrlp"]
	path = pack/danirod/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/danirod/start/nerdtree"]
	path = pack/danirod/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/danirod/start/tabular"]
	path = pack/danirod/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/danirod/start/undotree"]
	path = pack/danirod/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/danirod/start/vim-numbertoggle"]
	path = pack/danirod/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "pack/danirod/start/vimwiki"]
	path = pack/danirod/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/theme/start/vim-dim"]
	path = pack/theme/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim
