[submodule "pack/danirod/start/ack.vim"]
	path = pack/danirod/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "pack/danirod/start/ale"]
	path = pack/danirod/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/danirod/start/ctrlp"]
	path = pack/danirod/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "pack/danirod/start/echodoc.vim"]
	path = pack/danirod/start/echodoc.vim
	url = https://github.com/Shougo/echodoc.vim
[submodule "pack/danirod/start/editorconfig-vim"]
	path = pack/danirod/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/danirod/start/emmet-vim"]
	path = pack/danirod/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "pack/danirod/start/FastFold"]
	path = pack/danirod/start/FastFold
	url = https://github.com/Konfekt/FastFold
[submodule "pack/danirod/start/goyo.vim"]
	path = pack/danirod/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "pack/danirod/start/nerdtree"]
	path = pack/danirod/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/danirod/start/pear-tree"]
	path = pack/danirod/start/pear-tree
	url = https://github.com/tmsvg/pear-tree
[submodule "pack/danirod/start/splitjoin.vim"]
	path = pack/danirod/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "pack/danirod/start/supertab"]
	path = pack/danirod/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/danirod/start/tabular"]
	path = pack/danirod/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/danirod/start/tagbar"]
	path = pack/danirod/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/danirod/start/undotree"]
	path = pack/danirod/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/danirod/start/vim-bookmarks"]
	path = pack/danirod/start/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks
[submodule "pack/danirod/start/vim-closetag"]
	path = pack/danirod/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "pack/danirod/start/vim-endwise"]
	path = pack/danirod/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/danirod/start/vim-fugitive"]
	path = pack/danirod/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/danirod/start/vim-gitgutter"]
	path = pack/danirod/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/danirod/start/vim-indent-object"]
	path = pack/danirod/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "pack/danirod/start/vim-numbertoggle"]
	path = pack/danirod/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "pack/danirod/start/vim-obsession"]
	path = pack/danirod/start/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule "pack/danirod/start/vim-polyglot"]
	path = pack/danirod/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/danirod/start/vim-surround"]
	path = pack/danirod/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/danirod/start/vimwiki"]
	path = pack/danirod/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/deoplete/start/deoplete-clang"]
	path = pack/deoplete/start/deoplete-clang
	url = https://github.com/deoplete-plugins/deoplete-clang
[submodule "pack/deoplete/start/deoplete-jedi"]
	path = pack/deoplete/start/deoplete-jedi
	url = https://github.com/deoplete-plugins/deoplete-jedi
[submodule "pack/deoplete/start/deoplete.nvim"]
	path = pack/deoplete/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "pack/deoplete/start/LanguageClient-neovim"]
	path = pack/deoplete/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "pack/deoplete/start/neco-syntax"]
	path = pack/deoplete/start/neco-syntax
	url = https://github.com/Shougo/neco-syntax
[submodule "pack/deoplete/start/neoinclude.vim"]
	path = pack/deoplete/start/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim
[submodule "pack/nvim/opt/nvim-yarp"]
	path = pack/nvim/opt/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "pack/nvim/opt/vim-hug-neovim-rpc"]
	path = pack/nvim/opt/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "packs/python/start/SimpylFold"]
	path = pack/python/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "pack/theme/start/vim-airline"]
	path = pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/theme/start/vim-airline-themes"]
	path = pack/theme/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/theme/start/vim-devicons"]
	path = pack/theme/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/theme/start/vim-dim"]
	path = pack/theme/start/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim
[submodule "pack/ruby/start/vim-rails"]
	path = pack/ruby/start/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "pack/deoplete/start/alchemist.vim"]
	path = pack/deoplete/start/alchemist.vim
	url = https://github.com/slashmili/alchemist.vim
