[submodule "pack/coding/start/ale"]
	path = pack/coding/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/coding/start/editorconfig-vim"]
	path = pack/coding/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "pack/coding/start/vim-polyglot"]
	path = pack/coding/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/editor/start/pear-tree"]
	path = pack/editor/start/pear-tree
	url = https://github.com/tmsvg/pear-tree
[submodule "pack/editor/start/supertab"]
	path = pack/editor/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "pack/editor/start/vim-closetag"]
	path = pack/editor/start/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule "pack/editor/start/vim-endwise"]
	path = pack/editor/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "pack/editor/start/vim-numbertoggle"]
	path = pack/editor/start/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "pack/lsp/start/asyncomplete"]
	path = pack/lsp/start/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/lsp/start/asyncomplete-lsp"]
	path = pack/lsp/start/asyncomplete-lsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/lsp/start/vim-lsp"]
	path = pack/lsp/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/lsp/start/vim-lsp-settings"]
	path = pack/lsp/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule "pack/shell/start/close-buffers.vim"]
	path = pack/shell/start/close-buffers.vim
	url = https://github.com/Asheq/close-buffers.vim
[submodule "pack/shell/start/undotree"]
	path = pack/shell/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/shell/start/vim-gitgutter"]
	path = pack/shell/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/shell/start/vim-maximizer"]
	path = pack/shell/start/vim-maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule "pack/shell/start/vimwiki"]
	path = pack/shell/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/theme/start/vim-airline"]
	path = pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/theme/start/vim-airline-themes"]
	path = pack/theme/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/shell/start/nerdtree"]
	path = pack/shell/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/shell/start/fzf"]
	path = pack/shell/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/shell/start/fzf-vim"]
	path = pack/shell/start/fzf-vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/shell/start/vim-floaterm"]
	path = pack/shell/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "pack/theme/start/nord-vim"]
	path = pack/theme/start/nord-vim
	url = git@github.com:arcticicestudio/nord-vim
